package com.example.cmpstudy

import dev.gitlive.firebase.FirebaseOptions

object FirebaseConfig {
    fun getOptions(): FirebaseOptions {
        return FirebaseOptions(
            applicationId = "YOUR_APPLICATION_ID",
            apiKey = "YOUR_API_KEY",
            projectId = "YOUR_PROJECT_ID"
        )
    }
}
