<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>

        <key>NSCameraUsageDescription</key>
        <string>Camera permission is required to take pictures</string>

        <key>NSPhotoLibraryUsageDescription</key>
        <string>Gallery permission is required to pick images</string>

        <key>NSLocationWhenInUseUsageDescription</key>
        <string>지도에서 현재 위치를 표시하기 위해 위치 권한이 필요합니다</string>
    </dict>
</plist>
